@mixin set-position($position, $top, $right, $bottom, $left) {
  position: $position;

  @if $top != none {
    top: $top;
  }

  @if $right != none {
    right: $right;
  }

  @if $bottom != none {
    bottom: $bottom;
  }

  @if $left != none {
    left: $left;
  }
}

@mixin set-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin set-margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 650px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 700px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
